pandas
numpy
yfinance
datasets
matplotlib
seaborn
scikit-learn
xgboost
lightgbm
optuna
joblib
lightning
pytorch-forecasting
ipykernel
transformers
torch
accelerate
peft
stable-baselines3
gymnasium
tensorboard
peft
